<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in fadeInRight animated" data-wow-delay="100s">It's Nice To Meet You!</div>
                <hr class="primary">
                <div class="intro-heading wow fadeInDown animated" data-wow-delay="20s">W E L C O M E</div>
                <!-- <a href="#about" class="page-scroll btn btn-xl">FIND OUT MORE</a> -->
                <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->

                <a href="#about" class="btn btn-primary btn-lg page-scroll"  data-toggle="button" aria-pressed="false" autocomplete="off">Find Out More<i class="fa fa-angle-double-down animated infinite pulse"></i></a>

            </div>
        </div>
    </header>
